<div class="nopad">
    |
    {% for library, predictions in predictions.items() %}
        <a href="#{{library}}">{{library | replace("_", " ")}}</a> |
    {% endfor %}

    {% for library, predictions in predictions.items() %}
    
    <script type="text/javascript" class="init">
	    $(document).ready(function () {
            $('#example_{{loop.index}}').DataTable({
                "autoWidth": false,
                "columnDefs": [
                    { "width": "20px", "targets": 0 },
                    { "width": "50px", "targets": 2 },
                    { "width": "50px", "targets": 3 }
                ]
            });
        });
    </script>

    <h2 id="{{library}}">{{library | replace("_", " ")}}</h2>
    <h4>Gene AUC: {{"%.3f"|format(predictions["auc"])}}</h4>
    <table id="example_{{loop.index}}" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Gene Set</th>
                <th>Association Score</th>
                <th>Set Reliability</th>
            </tr>
        </thead>
        <tbody>
                {% for pred in predictions["prediction"] %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{pred.term}}</td>
                        <td>{{"%.3f"|format(pred.score)}}</td>
                        <td>{{"%.3f"|format(pred.term_auc)}}</td>
                    </tr>
                {% endfor %}
        </tbody>
      
    </table>

    {% endfor %}
</div>